@model DoAn_ASPNETCORE.Areas.Admin.Models.HoaDonModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css{
    <script>

    </script>
}
<div id="successModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                </div>
                <h4 class="modal-title w-100">Thêm Thành Công!</h4>
            </div>
            <div class="modal-footer">
                <button type="button" style="margin-left:90px;" name="btn_ok" class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box" style="background:#b22222">
                    <i class="material-icons">&#xE872;</i>
                </div>
                <h4 class="modal-title w-100">Xóa Thành Công!</h4>
            </div>
            <div class="modal-footer">
                <button type="button" style="margin-left:90px;background:#b22222" name="btn_ok" class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div id="updateModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box" style="background:#3205cd">
                    <i class="material-icons">&#xE86A;</i>
                </div>
                <h4 class="modal-title w-100">Cập Nhật Thành Công!</h4>
            </div>
            <div class="modal-footer">
                <button type="button" style="margin-left:90px;background:#3205cd" name="btn_ok" class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Hóa Đơn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="User_ID" class="control-label"></label>
                        <select asp-for="User_ID" id="userid" class="form-control" asp-items="ViewBag.User_ID"></select>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.User_ID)</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HoTen" class="control-label"></label>
                        <input id="hoten" asp-for="HoTen" class="form-control" />
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.HoTen)</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sdt" class="control-label"></label>
                        <input id="sdt" asp-for="Sdt" class="form-control" />
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.Sdt)</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThanhTien" class="control-label"></label>
                        <input id="thanhtien" asp-for="ThanhTien" class="form-control" />
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.ThanhTien)</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TrangThai" class="control-label"></label>
                        <input id="trangthai" asp-for="TrangThai" class="form-control" />
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.TrangThai)</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" name="btn_create_hoadon" class="btn btn-primary">Thêm Mới</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa Hóa Đơn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" id="edit_id" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="User_ID" class="control-label"></label>
                        <select asp-for="User_ID" id="edit_userid" class="form-control" asp-items="ViewBag.User_ID"></select>
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.User_ID)</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HoTen" class="control-label"></label>
                        <input id="edit_hoten" asp-for="HoTen" class="form-control" />
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.HoTen)</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sdt" class="control-label"></label>
                        <input id="edit_sdt" asp-for="Sdt" class="form-control" />
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.Sdt)</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThanhTien" class="control-label"></label>
                        <input id="edit_thanhtien" asp-for="ThanhTien" class="form-control" />
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.ThanhTien)</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TrangThai" class="control-label"></label>
                        <input id="edit_trangthai" asp-for="TrangThai" class="form-control" />
                        <span class="text-danger">@Html.ValidationMessageFor(model => model.TrangThai)</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="btn_update_hoadon" class="btn btn-primary">Cập Nhật</button>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    @await Html.PartialAsync("/Areas/Admin/Views/Shared/SideBar.cshtml")
    <div class="main-panel">
        <!-- Navbar -->
        @await Html.PartialAsync("/Areas/Admin/Views/Shared/NavBar.cshtml")

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddModal">Thêm</button>
                        </p>

                        @*<p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddModal">Thêm</button>
                        </p>*@
                        @*<form asp-controller="User" asp-action="Index" method="get">
                            <p>

                                Tên Sản Phẩm: <input type="text" asp-for="searchString"><button type="submit" class="btn-facebook">Tìm</button>
                            </p>
                        </form>*@
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.User_ID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HoTen)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Sdt)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ThanhTien)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TrangThai)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="dshoadon">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @section Scripts{
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            <script>
                window.onload = function () {
                    $.ajax({
                        url: "../../api/HoaDonAPI/GetHoaDonModel",
                        type: "GET",
                        contentType: "Application/json;charset-utf-8",
                    }).done(function (reponse) {
                        console.log(reponse);
                        var newHtml = "";
                        $.each(reponse, function (index, hoaDon) {
                            newHtml += '<tr><td>' + hoaDon.user_ID + '</td>';
                            newHtml += '<td>' + hoaDon.hoTen + '</td>';
                            newHtml += '<td>' + hoaDon.sdt + '</td>';
                            newHtml += '<td>' + hoaDon.thanhTien + '</td>';
                            newHtml += '<td>' + hoaDon.trangThai + '</td>';
                            newHtml += '<td>' + '<button type="button" id="edit_hoadon" data-idhoadon="' + hoaDon.id + '" class="btn btn-primary" data-toggle="modal" data-target="#EditModal">Edit</button>';
                            newHtml += '<button type="button" id="btn_delete_hoadon" data-idhoadon="' + hoaDon.id + '" class="btn_delete_hoadon btn btn-danger">Delete</button>' + '</td></tr>';
                        });
                        $("#dshoadon").html(newHtml);
                    }).fail(function () {
                        alert('Thất bại !');
                    });


                }
                function addHoaDon() {
                    var insert = {};
                    insert.User_ID = parseInt($("#userid").val());

                    insert.HoTen = $("#hoten").val();

                    insert.Sdt = $("#sdt").val();

                    insert.ThanhTien = parseInt($("#thanhtien").val());

                    insert.TrangThai = parseInt($("#trangthai").val());

                    $.ajax({
                        url: "/api/HoaDonAPI/PostHoaDonModel",
                        type: "POST",
                        contentType: "Application/json;charset-utf-8",
                        data: JSON.stringify(insert),
                        dataType: "json"
                    }).done(function (reponse) {
                        $("#AddModal").modal('hide');
                        $("#successModal").modal('show');

                    }).fail(function () {
                        alert('Thất bại !');
                    });
                }
                function getHoaDon(id) {
                    $.ajax({
                        url: "../../api/HoaDonAPI/GetHoaDonModel/" + id,
                        type: "GET",
                        contentType: "Application/json;charset-utf-8",
                        dataType: "json"
                    }).done(function (reponse) {
                        $("#edit_id").val(reponse.id);
                        $("#edit_userid").val(reponse.user_ID);
                        $("#edit_hoten").val(reponse.hoTen);
                        $("#edit_sdt").val(reponse.sdt);
                        $("#edit_thanhtien").val(reponse.thanhTien);
                        $("#edit_trangthai").val(reponse.trangThai);
                    }).fail(function () {
                        alert('Thất bại !');
                    });
                }
                function updateHoaDon(id) {
                    var update = {}
                    update.ID = parseInt(id);
                    update.User_ID = parseInt($("#edit_userid").val());

                    update.HoTen = $("#edit_hoten").val();

                    update.Sdt = $("#edit_sdt").val();

                    update.ThanhTien = parseInt($("#edit_thanhtien").val());

                    update.TrangThai = parseInt($("#edit_trangthai").val());
                    $.ajax({
                        url: "/api/HoaDonAPI/PutHoaDonModel/" + id,
                        type: "PUT",
                        contentType: "Application/json;charset-utf-8",
                        data: JSON.stringify(update),
                        dataType: "json"
                    }).done(function (reponse) {
                        $("#EditModal").modal('hide');
                        $("#updateModal").modal('show');

                    }).fail(function () {
                        alert('Thất bại !');
                    });
                }
                function deleteHoaDon(id) {

                    $.ajax({
                        url: "../../api/HoaDonAPI/DeleteHoaDonModel/" + id,
                        type: "DELETE",
                        contentType: "Application/json;charset-utf-8",
                        dataType: "json"
                    }).done(function (res) {
                        if (res == true) {
                            $("#deleteModal").modal('show');
                        } else {
                            alert("Không xóa được hóa đơn");
                        }
                        

                    }).fail(function () {
                        alert('Thất bại !');
                    });
                }
                $(document).ready(function () {
                    $('button[name=btn_create_hoadon]').click(function (e) {
                        addHoaDon();
                        e.preventDefault();
                    });
                    $('body').on('click', '#edit_hoadon', function () {
                        var id = $(this).data("idhoadon");
                        getHoaDon(id);
                        e.preventDefault();
                    });
                    $('body').on('click', '#btn_update_hoadon', function () {
                        var id = $("#edit_id").val();
                        updateHoaDon(id);
                        e.preventDefault();
                    });
                    $('body').on('click', '.btn_delete_hoadon', function () {
                        var id = $(this).data("idhoadon");
                        deleteHoaDon(id);
                        e.preventDefault();
                    });
                    $('button[name=btn_ok]').click(function (e) {
                        location.reload();
                    });
                });

            </script>
        }

