@model IEnumerable<DoAn_ASPNETCORE.Areas.Admin.Models.BinhLuanModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    @await Html.PartialAsync("/Areas/Admin/Views/Shared/SideBar.cshtml")
    <div class="main-panel">
        <!-- Navbar -->
        @await Html.PartialAsync("/Areas/Admin/Views/Shared/NavBar.cshtml")
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">

                        <p>
                            <a asp-action="Create">Create New</a>
                        </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.User)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SanPham_ID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NoiDung)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NgayDang)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TrangThai)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SanPham_ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NoiDung)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NgayDang)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TrangThai)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
